//TODO一覧の表示ボックス
.BOX {
  position: absolute;
  display: block; //要素が縦に並ぶ
  top: 100px;
  left: 309px;
  width: 1558px;
  height: 859px;
  .search {
    width: 1558px;
    height: 174px;
    padding: 20px 20px 0px 20px;
    gap: 16px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #0000001a;
    background: #ffffff;
    display: flex; //要素が横に並ぶ
    flex-direction: column; //要素が縦に並ぶ
    .searchtext {
      width: 275px;
      height: 37px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.15px;
      text-align: left;
    }
    .searchbox {
      width: 1516px;
      height: 101px;
      align-self: center;

      .searchboxin {
        top: 8px;
        left: 15px;
        bottom: 24px;
        width: 1448px;
        height: 85px;
        padding: 8px 0px 24px 15px;

        display: flex;
        flex-direction: row;

        .searchinputtext {
          //検索ボックス
          width: 942px;
          height: 56px;
          border-radius: 4px;
          background-color: #f1f4fa;
          padding: 0px 12px 0px 12px;
          border: 1px solid #0000003b;
        }

        .buttongroup {
          position: relative;
          left: 30px;
          top: 15px;
          display: flex;
          gap: 24px; // ボ
        }
      }
    }
  }
  .Select {
    width: 1558px;
    height: 73px;
    padding: 24px 7px 0px 0px;
    gap: 9px;
    display: flex;
  }
  .TaskListFrame {
    width: 1558px;
    height: 530px;
    overflow-y: scroll;
  }
}

//検索ボックス
