.backgroundColor {
  background-color: #ebeded;
}

.AppBar {
  background-color: #232526;
  width: 1920px;
  height: 64px;
  padding: 8px 12px 8px 12px;
  gap: 0;
  opacity: 1;
}

.LeftSide {
  width: 1896px;
  height: 48px;
  gap: 16px;
  opacity: 1px;
}

.Typography {
  width: 1832px;
  height: 32px;
  gap: 0px;
  opacity: 1;
}
.Title {
  width: 162px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
}
.Text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #ffffff;
}

// .sideBar {
//   background: #FFFFFF;
//   height: 100%;
//   width: 250px;
//   position: fixed;
// }
