//IconButton
.IconButton {
  width: 48px;
  height: 48px;
  padding: 12px;
}
.MenuFilled {
  width: 24px;
  height: 24px;
  padding: 6px 3px;
}
.vector {
  display: block;
  width: 18px;
  height: 12px;
}
.line {
  display: block;
  width: 18px;
  height: 2px;
  background: #ffff;
}
.line2 {
  display: block;
  width: 18px;
  height: 2px;
  margin: 3px 0px;
  background: #ffff;
}
